/*LOGO*/
#logo h1 {
    font-size: 70px;
    color: #022149;
}

.logo {
    width: 100px;
    height: 100px;
}

/*ToDo*/
li i:hover,
#done del {
    cursor: pointer;
    color: red;
}

li .btn-outline-secondary:hover {
    background-color: green;
}